<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnu.peexamsystem.dao.student.StudentDao">

    <select id="findByCondition">
        select * from student
        <where>
            <if test="stuName != '' and stuName != null">
                stuName like #{stuName}
            </if>
            <if test="instituteNo != '' and instituteNo != null">
                instituteNo = #{instituteNo}
            </if>
        </where>
    </select>

</mapper>


