<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>管理员审核界面</title>
    <!-- 引入vue.js -->
    <script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
    <!-- 引入element样式 -->
    <link rel="stylesheet" href="../../css/index.css">
    <!-- 引入element组件库 -->
    <script src="../../js/index.js"></script>
    <!-- 引入axios.js -->
    <script src="../../js/axios.min.js"></script>
    <script> Vue.config.productionTip = false</script>
</head>

<body>
<div id="app" style="margin-bottom: 40px;">
    <el-container>
        <el-header style="background-color: #409EFF;color: #333;text-align: center;line-height: 60px;">

            <div>
                <div style="float: left;text-align: center;width:40%;margin-left: 30%;">管理员审核界面</div>
                <div style="text-align: right;">
                    <el-button type="primary" @click="logout()" :size="buttonSize">退出登录</el-button>
                </div>
            </div>

        </el-header>
        <el-main style="background-color: #E9EEF3;color: #333;">

            <div style="width: 70%;margin: auto">
                <el-form ref="form" :model="form" label-position="right" label-width="80px">
                    <el-row :gutter="1">
                        <el-col :span="10" :xs="24">
                            <div>
                                <el-form-item label="学号:">
                                    <el-input v-model="form.stuNo" readonly></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                        <el-col :span="10" :xs="24">
                            <div>
                                <el-form-item label="姓名:">
                                    <el-input v-model="form.stuName" readonly></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                        <el-col :md="4" :xs="24" :sm="12">
                            <div>
                                <el-form-item label="性别:">
                                    <el-input v-model="genderLists[form.gender].value" readonly></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <el-row :gutter="1">

                        <el-col :md="8" :xs="24" :sm="12">
                            <div>
                                <el-form-item label="学院:">
                                    <el-input v-model="form.instituteName" readonly></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                        <el-col :md="8" :xs="24" :sm="12">
                            <div>
                                <el-form-item label="年级:">
                                    <el-input v-model="form.grade" readonly></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                        <el-col :md="8" :xs="24" :sm="12">
                            <div>
                                <el-form-item label="班级:">
                                    <el-input v-model="form.className" readonly></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <el-form-item label="申请理由:">
                        <el-input type="textarea" autosize v-model="form.submitReason" readonly></el-input>
                    </el-form-item>

                    <div style="width: 200px;margin: auto;padding-bottom: 20px">
                        <div v-if="form.verifyStatus == 1">
                            <template>
                                <el-alert title="审核已通过" type="success" center show-icon :closable="false">
                                </el-alert>
                            </template>
                        </div>
                        <div v-else-if="form.verifyStatus == 0">
                            <template>
                                <el-alert title="还未审核" type="info" center show-icon :closable="false">
                                </el-alert>
                            </template>
                        </div>
                        <div v-else-if="form.verifyStatus == -1">
                            <template>
                                <el-alert title="审核未通过" type="error" center show-icon :closable="false">
                                </el-alert>
                            </template>
                        </div>
                    </div>


                    <el-form-item label="证明材料:">
                        <div class="block" style="width: 100%;">

                            <img :src="src" style="width: 500px">
                            <!--                                    <div slot="placeholder" class="image-slot">-->
                            <!--                                        加载中<span class="dot">...</span>-->
                            <!--                                    </div>-->
                            </img>
                        </div>
                    </el-form-item>

                    <div style="text-align: center;margin-left: 0;">
                        <el-form-item label-width="0">
                            <el-button v-if="form.verifyStatus == 0 || form.verifyStatus == 1" type="danger"
                                       @click="reject()">驳回审核
                            </el-button>
                            <el-button v-if="form.verifyStatus == 0 || form.verifyStatus == -1" type="primary"
                                       @click="pass()">通过审核
                            </el-button>
                        </el-form-item>
                    </div>

                </el-form>
            </div>

        </el-main>
        <el-footer height="1px">

        </el-footer>
    </el-container>
</div>
</body>
<script>
    // 处理url参数
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] === variable) {
                return pair[1];
            }
        }
        return false;
    }

    var Main = {
        methods: {
            getCookie(name) {
                var value = '; ' + document.cookie;
                var parts = value.split('; ' + name + '=');
                if (parts.length === 2) return parts.pop().split(';').shift()
            },
            logout() {
                let that = this
                axios({
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': that.getCookie('XSRF-TOKEN')
                    },
                    transformRequest: [function (data) {
                        let ret = ''
                        for (let it in data) {
                            ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&'
                        }
                        return ret
                    }],
                    method: 'post',
                    url: '/admin/logout',
                }).then(function (response) {
                    if (response.data.code === 1) {
                        alert(response.data.msg);
                        location.replace("/adminLogin.html");
                    } else {
                        alert(response.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error)
                });
            },
            getDetail(sn) {
                axios({
                    method: 'get',
                    url: '/student/query/single',
                    params: {
                        stuNo: sn
                    }
                }).then(function (response) {
                    console.log(response.data)
                    if (response.data.code === 1) {
                        app.form = response.data.result;
                    } else {
                        app.$alert(response.data.msg, '出错了', {
                            confirmButtonText: '确定',
                            callback: action => {
                                window.close();
                            }
                        });
                    }
                }).catch(function (error) {
                    console.log(error)
                });
                axios({
                    method: 'get',
                    url: '/student/showimg',
                    params: {
                        stuNo: sn
                    }
                }).then(function (response) {
                    app.src = response.data
                    console.log(response.data)
                }).catch(function (error) {
                    console.log(error)
                });
            },
            verify(st, sn) {
                let that = this
                axios({
                    headers: {
                        'X-CSRFToken': that.getCookie('XSRF-TOKEN')
                    },
                    method: 'post',
                    url: '/student/verify',
                    params: {
                        stuNo: sn,
                        status: st
                    }
                }).then(function (response) {
                    console.log(response.data)
                    if (response.data.code === 1) {
                        app.$message({
                            type: 'success',
                            message: '修改成功!'
                        });
                        app.form.verifyStatus = st;
                    } else {
                        app.$message.error({
                            message: response.data.msg
                        });
                    }
                }).catch(function (error) {
                    console.log(error)
                });
            },
            pass() {
                this.$confirm('是否通过审核?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //审核通过
                    app.verify(1, app.stuNo)
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消审核'
                    });
                });
            },
            reject() {
                this.$confirm('是否驳回审核?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    app.verify(-1, app.stuNo);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消审核'
                    });
                });
            }
        },
        data() {

            return {
                stuNo: '',
                src: '',
                buttonSize: '',
                form: {
                    stuNo: '',
                    stuName: '',
                    gender: 2,
                    submitReason: "",
                    instituteName: '',
                    className: '',
                    instituteNo: '',
                    classNo: '',
                    grade: '',
                },
                genderLists: [{
                    value: '女',
                    gender: '0'
                }, {
                    value: '男',
                    gender: '1'
                }, {
                    value: '',
                    gender: '2'
                }],
            }
        },
        mounted: function () {
            this.stuNo = getQueryVariable('stuNo');
            this.getDetail(this.stuNo);
        }
    }
    var Ctor = Vue.extend(Main)
    var app = new Ctor().$mount('#app')
</script>

</html>